$background-color: rgb(19, 57, 62);
$link-color: #968317;

@mixin link {
  color: $link-color;
  text-decoration: none;
}

@mixin link-with-background {
  background-image: url('/images/background_gold.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin link-hover {
  background-image: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: lighten($link-color, 20%);
}

hr {
  border : 1px solid $link-color;
  margin : 1rem 0;
}