$background-color: rgb(19, 57, 62);
$highlight-color: #968317;

@mixin flex-centered ($flow: row){
  display: flex;
  flex-flow: $flow;
  align-items: center;
}

@mixin link {
  color: $highlight-color;
  text-decoration: none;
}

@mixin link-with-background {
  background-image: url('/images/background_gold.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin link-hover {
  background-image: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: lighten($highlight-color, 20%);
}

@mixin honey-column {
  @include flex-centered(row);
  flex: 1 1 100%;
  text-align: center;
  line-height: 3.5rem;
}
@mixin honey-column-font-spacing {
  letter-spacing: 0.075rem;
}

body {
  background-color: $background-color;
  box-sizing: border-box;
}

hr {
  border : 1px solid $highlight-color;
  margin : 1rem 0;
}