.overlay {
  position: fixed;
  visibility: hidden;
  @include flex-centered();
  justify-content: center;

  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  
  transition: opacity 250ms;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  position: relative;
  
  max-width: 40%;
  margin: 70px auto;
  padding: 20px;
  
  color: white;
  background-color: $background-color;
  border: solid 2px $highlight-color;
  border-radius: 3px;
  box-shadow: 0.25rem 0.25rem 0.15rem black;

  @include font-tradegothic;
  font-weight: normal;
  line-height: 1.3rem;
  letter-spacing: 0.075rem;
  
  transition: all 1s ease-in-out;
  .close {
    position: absolute;

    padding: 3px;
    top: 10px;
    right: 10px;
    
    color: $highlight-color;
    border: 1px solid $highlight-color;
    
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
      color: lighten($highlight-color,30%);
    }
  }
  .content {
    max-height: 80vh;
    margin-right: 2rem;

    font-size: 1.1rem;
    line-height: 1.4rem;

    overflow-x: auto;
    overflow-y: auto;
    
    .registry {
      margin-bottom: 1rem;
    }
    .friday {
      margin-top: 0.4rem;
    }
    sup {
      position: relative;
      top: -.20em;
      vertical-align: top;
      font-size: 0.8em;
    }
    ul.checklist {
      margin-left: 1.5rem;
      list-style: square outside;
    }

    // li > span {
    //   display: inline-block;
    //   width: 65px;
    // }

    a {
      @include link;
    }
    a:hover {
      @include link-hover;
    }
    .day {
      margin: 1rem 0 0.2rem;
      color: $highlight-color;
      &:first-child {
        margin-top: 0;
      }
    }
    #questions {
      margin-top: 0.7rem;
      padding-left: 0.4rem;
    }
  }
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}