header, footer {
  flex: 2 1 5%;
}
header {
  border-bottom: 0.32rem solid white;
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;

  & > h1 {
  flex: 1 1 50%;
  @extend %font-tradegothic;
  font-size: 2.8rem;
  text-transform:uppercase;
  text-align: center;
  }
}
footer {
  display: block;
  border-top: 0.32rem solid white;
}