$color: lighten($highlight-color, 40%);
$menu-entry-background-color: #262626;
$menu-width: 70vw;

body { height:auto; min-height:100%; }
html { height: 100%; }

%nav-font {
  font-size: 1.2rem;
  font-weight: bold;
}

button.hamburger {
  width: 2rem;
  height: 2rem;
  padding-top: 5px;
  background-color: $menu-entry-background-color;
  border: 1px solid $menu-entry-background-color;
  border-radius: 1.2rem;
  > span {
    display: block;
    height: 2px;
    margin-bottom: 5px;
    background-color: white;
  }
}

#container-mobile {
  body.mobile & {
    display: block;
  }
  display: none;
  height: 100vh;
  width: 100vw;

  color: $color;
  @include font-crysler;
  @extend %nav-font;
}

.menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  .menu-open & {
    transform: translateX(0);
  }
  height: 100vh;
  width: $menu-width;
  background: rgb(51,51,51);
  box-shadow: inset -3px 3px 3px $menu-entry-background-color;
  color: rgba(255,255,255,0.7);
  transition: transform 0.3s;
  li {
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 0.5em;
    border-bottom: 1px solid $menu-entry-background-color;
    &:hover {
      background: $menu-entry-background-color;
    }
  }
}
.main-mobile {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  .menu-open & {
    transform: translateX($menu-width);
  }
  transition: transform 0.3s;
  
  sup {
    position: relative;
    top: -.20em;
    vertical-align: top;
    font-size: 0.8em;
  }

  > nav {
    flex: 1 1 7%;
    @include flex-centered(row);
    margin: 2px;
    border-bottom: 4px double $color;
    @extend %nav-font;
    text-transform:uppercase;
    > * {
      margin: 0 0.3rem;
    }
  }
  > article {
    display: block;
    flex: 1 1 93%;

    @extend %content;
    &.home {
      @include flex-centered(column);
      justify-content: center;

      background: url(/images/gold_circles_top.png) 0 0 repeat-x,
                  url(/images/gold_circles_bottom.png) 0 bottom repeat-x,$background-color;
    }
    &.info {
      color: white;
      padding: 1rem 0.2rem 0.2rem 0.7rem;
    }

    @include honey-column-font-spacing;
    .home {
      @include flex-centered(column);
      justify-content: center;
      width: 85%;
      padding: 1.5rem 0;
      border: 4px solid $color;
    }
    .names {
      flex: 0 0 auto;
      margin: 0.8rem 0;
      font-size: 2.5rem;
    }
    .date {
      flex: 0 0 auto;
      text-decoration: none;
    }
  }
}