#site-body .container {
    background-color: #fff
}
#site-body a.link,
#site-body button {
    background-color: #13393E;
    color: #fff
}
#site-body a.link:hover,
#site-body button:hover {
    background-color: #ebd8ad
}
#site-body .cards-container {
    max-width: 700px;
    width: 100%;
    font-size: 0
}
#site-body .cards-container .card {
    vertical-align: top
}
#site-body .cards-container .card h4 {
    color: #fff;
    background-color: #FDD7B7
}
#site-body .cards-container .card .copy-container {
    color: #fff;
    background-color: #13393E
}
#site-body .long-cards-container .long-card .left {
    background-color: #FDD7B7
}
#site-body .long-cards-container .long-card .left span.time {
    color: #fff
}
#site-body .long-cards-container .long-card .right {
    background-color: #13393E;
    color: #fff
}
#site-body .long-cards-container .long-card hr {
    border-color: #fff
}
#site-body #home .grid-container .grid-column {
    color: #fff
}
#site-body #home .grid-container .grid-column span {
    border-color: #fff;
    background-color: #13393E
}
#site-body #home .grid-container .grid-column span:hover a {
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    color: #ebd8ad
}
#site-body #about .image-container p.couple-copy {
    color: rgba(130, 130, 130, 0.8)
}
#site-body #about .image-container .two-columns-wide p.couple-copy {
    padding: 10px 12px
}
#site-body #weddingparty .bridal-cards .bridal-row .bridal-card {
    color: #fff;
    background-color: #ccc
}
#site-body #weddingparty .bridal-cards .bridal-row .bridal-card h3 {
    color: #fff
}
@media all and (min-width: 1000px) {
    #site-body #accommodations {
        background-image: none !important
    }
}
#site-body #accommodations .cards-container .card .copy-container .text a {
    color: #B2B2B2 !important
}
#site-body #schedule .address a {
    color: #fff
}
#site-body #registry .cards-container .card {
    background-color: #FDD7B7
}
#site-body #registry .cards-container .card a h4 {
    background-color: transparent
}
#site-body #registry .cards-container .card a h4:hover {
    color: rgba(117, 117, 117, 0.8)
}
#site-body #location .links-container a.location-tab-link,
#site-body #location .links-container p.non-tabs-mode {
    color: #000
}
#site-body #gallery .grid-container .grid-column .inner-column {
    background-color: gray;
    border-color: #fff
}
#site-body #misc p.page-copy {
    color: #888888
}
#site-body #rsvp .container {
    background-color: transparent
}
#site-body #rsvp .container form input[type=text],
#site-body #rsvp .container form input[type=text]:focus,
#site-body #rsvp .container form textarea,
#site-body #rsvp .container form textarea:focus,
#site-body #rsvp .container div#rsvp-form input[type=text],
#site-body #rsvp .container div#rsvp-form input[type=text]:focus,
#site-body #rsvp .container div#rsvp-form textarea,
#site-body #rsvp .container div#rsvp-form textarea:focus {
    color: #fff !important;
    background-color: #13393E;
    border-color: #000
}
#site-body #rsvp .container form input[type=text]::-webkit-input-placeholder,
#site-body #rsvp .container form input[type=text]:focus::-webkit-input-placeholder,
#site-body #rsvp .container form textarea::-webkit-input-placeholder,
#site-body #rsvp .container form textarea:focus::-webkit-input-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]::-webkit-input-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:focus::-webkit-input-placeholder,
#site-body #rsvp .container div#rsvp-form textarea::-webkit-input-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:focus::-webkit-input-placeholder {
    color: #fff
}
#site-body #rsvp .container form input[type=text]:-moz-placeholder,
#site-body #rsvp .container form input[type=text]:focus:-moz-placeholder,
#site-body #rsvp .container form textarea:-moz-placeholder,
#site-body #rsvp .container form textarea:focus:-moz-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:-moz-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:focus:-moz-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:-moz-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:focus:-moz-placeholder {
    color: #fff
}
#site-body #rsvp .container form input[type=text]::-moz-placeholder,
#site-body #rsvp .container form input[type=text]:focus::-moz-placeholder,
#site-body #rsvp .container form textarea::-moz-placeholder,
#site-body #rsvp .container form textarea:focus::-moz-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]::-moz-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:focus::-moz-placeholder,
#site-body #rsvp .container div#rsvp-form textarea::-moz-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:focus::-moz-placeholder {
    color: #fff
}
#site-body #rsvp .container form input[type=text]:-ms-input-placeholder,
#site-body #rsvp .container form input[type=text]:focus:-ms-input-placeholder,
#site-body #rsvp .container form textarea:-ms-input-placeholder,
#site-body #rsvp .container form textarea:focus:-ms-input-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:-ms-input-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:focus:-ms-input-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:-ms-input-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:focus:-ms-input-placeholder {
    color: #fff
}
#site-body #rsvp .container form textarea,
#site-body #rsvp .container form textarea:focus,
#site-body #rsvp .container div#rsvp-form textarea,
#site-body #rsvp .container div#rsvp-form textarea:focus {
    border-color: gray
}
#site-body #rsvp .container form #days #select-days,
#site-body #rsvp .container div#rsvp-form #days #select-days {
    background-color: rgba(50, 50, 50, 0.9);
    color: #fff
}
#site-body #rsvp .container form select,
#site-body #rsvp .container div#rsvp-form select {
    background-color: #13393E;
    color: #fff;
    border-bottom-color: #000
}
#site-body #rsvp .container form span.highlight,
#site-body #rsvp .container div#rsvp-form span.highlight {
    color: #fff;
    background-color: #13393E;
    border-bottom-color: #000
}
#site-body nav {
    background-color: #fff
}
#site-body nav .header-container {
    background: #13393E
}
#site-body nav .header-container div.headers h1 {
    color: #fff
}
#site-body nav div.nav-container ul.main {
    border-color: #000
}
#site-body nav div.nav-container ul.main li a.nav-link {
    color: #000
}
#site-body footer {
    background: #13393E
}
#site-body.public-hosting-container {
    background: url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col1-2b-top-c2e6b8058d48a836a32c373fcf920150.png) top center repeat-x, url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col1-2b-bot-de8acaadcf00d96259fb6201234f7283.png) bottom center repeat-x, #13393E
}
#site-body.public-hosting-container .password-container {
    background: none;
    border: none
}
#site-body.public-hosting-container .password-container h1.title {
    color: #fff
}
.win #site-body.public-hosting-container .password-container h1.title {
    -webkit-text-fill-color: #fff !important
}
#site-body.public-hosting-container .password-container h2.subtitle {
    color: #fff
}
#site-body.public-hosting-container .password-container h2.login {
    color: #fff
}
#site-body.public-hosting-container .password-container .hr {
    border-bottom: 3px solid #fff
}
#site-body.public-hosting-container .password-container #guest-center-widget {
    background: none;
    border: none
}
#site-body.public-hosting-container .password-container #guest-center-widget p.coming-soon,
#site-body.public-hosting-container .password-container #guest-center-widget p.message {
    color: #9d9d9d
}
#site-body.public-hosting-container .password-container #guest-login-form label {
    color: #9d9d9d !important
}
#site-body.public-hosting-container .password-container #guest-login-form input.main-btn {
    color: #13393E;
    background-image: none !important;
    background-color: #FDD7B7;
    border: 1px solid black;
    -webkit-appearance: none;
    -webkit-border: 1px solid black
}
#site-body.public-hosting-container .password-container #guest-login-form input.main-btn:hover {
    color: #000;
    background-color: #ebd8ad
}
#site-body.public-hosting-container .password-container #alert-box h5.flash-alert {
    color: #C32626 !important;
    background-color: #DAB9B9;
    border-color: #FF0000
}
#site-body.guest-email-imager #main-image-part {
    background: url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col1-2b-top-c2e6b8058d48a836a32c373fcf920150.png) top center repeat-x, url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col1-2b-bot-de8acaadcf00d96259fb6201234f7283.png) bottom center repeat-x, #13393E;
    background-size: initial
}
#site-body.guest-email-imager #main-image-part h1 {
    color: #fff
}
#site-body.guest-email-imager #main-image-part h2 {
    color: #fff
}
#site-body.guest-email-imager #main-image-part p.pbody {
    color: #9d9d9d
}
#site-body.guest-email-imager #main-image-part .outer {
    background: none;
    background-size: initial;
    border: none
}
#site-body.guest-email-imager #main-image-part .inner {
    padding: 25px;
    border: none;
    background: none
}
#site-body .pages .page p.page-copy,
#site-body .pages .page p.couple-copy,
#site-body.site-body-css .pages .page p.page-copy,
#site-body.site-body-css .pages .page p.couple-copy {
    color: #444444 !important
}
#site-body .pages h2.page-title,
#site-body.site-body-css .pages h2.page-title {
    background-color: #fff;
    color: #FDD7B7
}
#site-body .cards-container h4,
#site-body .cards-container a.link,
#site-body.site-body-css .cards-container h4,
#site-body.site-body-css .cards-container a.link {
    background-color: #13393E
}
#site-body .cards-container a.link:hover,
#site-body.site-body-css .cards-container a.link:hover {
    color: #1f5d65;
    background-color: #fee5d0
}
#site-body #home .grid-container .grid-column.column1 span:first-child+span+span,
#site-body.site-body-css #home .grid-container .grid-column.column1 span:first-child+span+span {
    background: url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col1-2b-top-c2e6b8058d48a836a32c373fcf920150.png) 0 0 repeat-x, url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col1-2b-bot-de8acaadcf00d96259fb6201234f7283.png) 0 bottom repeat-x, #13393E
}
#site-body #home .grid-container .grid-column.column2 span:first-child+span,
#site-body.site-body-css #home .grid-container .grid-column.column2 span:first-child+span {
    background: url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col2-row2a-86260fb07826b16c56d139928f04373b.png) 0 0 no-repeat, url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col2-row2b-35f0ed2d4cfb06ce21abd088850e5eae.png) right bottom no-repeat, #13393E
}
#site-body #home .grid-container .grid-column.column2 span:first-child+span+span,
#site-body.site-body-css #home .grid-container .grid-column.column2 span:first-child+span+span {
    background: url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col2-row3-7b52e986a5c706189de5acd4f71aa566.png) 50% 47% no-repeat, #13393E
}
#site-body #home .grid-container .grid-column.column3 span:first-child+span,
#site-body.site-body-css #home .grid-container .grid-column.column3 span:first-child+span {
    background: url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col3-row2a-734356bddcebe36444e2ddd61be5e4fd.png) right top no-repeat, url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/gold-col3-row2b-083f3391dc3c5b57ea2fc04ef19c7f73.png) left bottom no-repeat, #13393E
}
#site-body #home .grid-container .grid-column span a,
#site-body.site-body-css #home .grid-container .grid-column span a {
    color: #ebd8ad
}
.webkit #site-body #home .grid-container .grid-column span a,
.webkit #site-body.site-body-css #home .grid-container .grid-column span a {
    background-image: url(https://d3jzug80jq9bku.cloudfront.net/assets/march2014/images/deco/goldfoil-ee797c1ffbafbd7769a6d2c308878a07.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
#site-body #home .grid-container .grid-column span a:hover,
#site-body.site-body-css #home .grid-container .grid-column span a:hover {
    background-image: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    transition: color 0.3s ease;
    color: black;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff
}
#site-body #weddingparty .bridal-card .text,
#site-body.site-body-css #weddingparty .bridal-card .text {
    background-color: #13393E !important
}
#site-body #schedule .long-cards-container .left,
#site-body.site-body-css #schedule .long-cards-container .left {
    background-color: #13393E
}
#site-body #schedule .long-cards-container .right,
#site-body.site-body-css #schedule .long-cards-container .right {
    background-color: #FDD7B7;
    color: #000
}
#site-body #schedule span.address a,
#site-body.site-body-css #schedule span.address a {
    color: #008cba !important
}
#site-body #registry .cards-container .card,
#site-body.site-body-css #registry .cards-container .card {
    background-color: #13393E !important
}
#site-body #location .cards-container .cards-row .card .copy-container,
#site-body.site-body-css #location .cards-container .cards-row .card .copy-container {
    background-color: #FDD7B7 !important
}
#site-body #location .cards-container .cards-row .card .copy-container span,
#site-body.site-body-css #location .cards-container .cards-row .card .copy-container span {
    color: #13393E
}
#site-body #travel .cards-container .card .copy-container,
#site-body.site-body-css #travel .cards-container .card .copy-container {
    color: #13393E;
    background-color: #FDD7B7
}
#site-body #accommodations .cards-container .card .copy-container,
#site-body.site-body-css #accommodations .cards-container .card .copy-container {
    background-color: #13393E
}
#site-body #rsvp .container form input[type=text],
#site-body #rsvp .container form input[type=text]:focus,
#site-body #rsvp .container form textarea,
#site-body #rsvp .container form textarea:focus,
#site-body #rsvp .container div#rsvp-form input[type=text],
#site-body #rsvp .container div#rsvp-form input[type=text]:focus,
#site-body #rsvp .container div#rsvp-form textarea,
#site-body #rsvp .container div#rsvp-form textarea:focus,
#site-body.site-body-css #rsvp .container form input[type=text],
#site-body.site-body-css #rsvp .container form input[type=text]:focus,
#site-body.site-body-css #rsvp .container form textarea,
#site-body.site-body-css #rsvp .container form textarea:focus,
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text],
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text]:focus,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea:focus {
    background-color: #FDD7B7;
    color: #13393E !important
}
#site-body #rsvp .container form input[type=text]::-webkit-input-placeholder,
#site-body #rsvp .container form input[type=text]:focus::-webkit-input-placeholder,
#site-body #rsvp .container form textarea::-webkit-input-placeholder,
#site-body #rsvp .container form textarea:focus::-webkit-input-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]::-webkit-input-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:focus::-webkit-input-placeholder,
#site-body #rsvp .container div#rsvp-form textarea::-webkit-input-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:focus::-webkit-input-placeholder,
#site-body.site-body-css #rsvp .container form input[type=text]::-webkit-input-placeholder,
#site-body.site-body-css #rsvp .container form input[type=text]:focus::-webkit-input-placeholder,
#site-body.site-body-css #rsvp .container form textarea::-webkit-input-placeholder,
#site-body.site-body-css #rsvp .container form textarea:focus::-webkit-input-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text]::-webkit-input-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text]:focus::-webkit-input-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea::-webkit-input-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea:focus::-webkit-input-placeholder {
    color: #3fb5c4
}
#site-body #rsvp .container form input[type=text]:-moz-placeholder,
#site-body #rsvp .container form input[type=text]:focus:-moz-placeholder,
#site-body #rsvp .container form textarea:-moz-placeholder,
#site-body #rsvp .container form textarea:focus:-moz-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:-moz-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:focus:-moz-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:-moz-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:focus:-moz-placeholder,
#site-body.site-body-css #rsvp .container form input[type=text]:-moz-placeholder,
#site-body.site-body-css #rsvp .container form input[type=text]:focus:-moz-placeholder,
#site-body.site-body-css #rsvp .container form textarea:-moz-placeholder,
#site-body.site-body-css #rsvp .container form textarea:focus:-moz-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text]:-moz-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text]:focus:-moz-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea:-moz-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea:focus:-moz-placeholder {
    color: #3fb5c4
}
#site-body #rsvp .container form input[type=text]::-moz-placeholder,
#site-body #rsvp .container form input[type=text]:focus::-moz-placeholder,
#site-body #rsvp .container form textarea::-moz-placeholder,
#site-body #rsvp .container form textarea:focus::-moz-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]::-moz-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:focus::-moz-placeholder,
#site-body #rsvp .container div#rsvp-form textarea::-moz-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:focus::-moz-placeholder,
#site-body.site-body-css #rsvp .container form input[type=text]::-moz-placeholder,
#site-body.site-body-css #rsvp .container form input[type=text]:focus::-moz-placeholder,
#site-body.site-body-css #rsvp .container form textarea::-moz-placeholder,
#site-body.site-body-css #rsvp .container form textarea:focus::-moz-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text]::-moz-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text]:focus::-moz-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea::-moz-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea:focus::-moz-placeholder {
    color: #3fb5c4
}
#site-body #rsvp .container form input[type=text]:-ms-input-placeholder,
#site-body #rsvp .container form input[type=text]:focus:-ms-input-placeholder,
#site-body #rsvp .container form textarea:-ms-input-placeholder,
#site-body #rsvp .container form textarea:focus:-ms-input-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:-ms-input-placeholder,
#site-body #rsvp .container div#rsvp-form input[type=text]:focus:-ms-input-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:-ms-input-placeholder,
#site-body #rsvp .container div#rsvp-form textarea:focus:-ms-input-placeholder,
#site-body.site-body-css #rsvp .container form input[type=text]:-ms-input-placeholder,
#site-body.site-body-css #rsvp .container form input[type=text]:focus:-ms-input-placeholder,
#site-body.site-body-css #rsvp .container form textarea:-ms-input-placeholder,
#site-body.site-body-css #rsvp .container form textarea:focus:-ms-input-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text]:-ms-input-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form input[type=text]:focus:-ms-input-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea:-ms-input-placeholder,
#site-body.site-body-css #rsvp .container div#rsvp-form textarea:focus:-ms-input-placeholder {
    color: #3fb5c4
}
#site-body #rsvp .container form #days #select-days,
#site-body #rsvp .container div#rsvp-form #days #select-days,
#site-body.site-body-css #rsvp .container form #days #select-days,
#site-body.site-body-css #rsvp .container div#rsvp-form #days #select-days {
    background-color: #1d565d;
    color: #13393E
}
#site-body #rsvp .container form select,
#site-body #rsvp .container form span.highlight,
#site-body #rsvp .container div#rsvp-form select,
#site-body #rsvp .container div#rsvp-form span.highlight,
#site-body.site-body-css #rsvp .container form select,
#site-body.site-body-css #rsvp .container form span.highlight,
#site-body.site-body-css #rsvp .container div#rsvp-form select,
#site-body.site-body-css #rsvp .container div#rsvp-form span.highlight {
    color: #13393E;
    background-color: #FDD7B7
}
#site-body #rsvp button,
#site-body.site-body-css #rsvp button {
    background-color: #13393E;
    color: #fff
}
#site-body #rsvp button:hover,
#site-body.site-body-css #rsvp button:hover {
    background-color: #8b8b8b
}
#site-body #rsvp hr,
#site-body.site-body-css #rsvp hr {
    border-color: #fff
}